@model IEnumerable<smokeStacks.Models.Room>

@{
    ViewBag.Title = "Index";
}

<h2>Lobby</h2>


<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Join", "EnterRoom", "Chat", new { id = item.RoomID }, null) |
                @Html.ActionLink("Edit", "Edit", new { id = item.RoomID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RoomID })
            </td>
        </tr>
    }

</table>
